[2017-12-18 10:15] petrsvihlik opened #2 "Fix HasNextPage"
https://github.com/Kentico/content-management-sdk-net/commit/60468963ca54c95b8bfb28bed2ce5c15a70b4cb4#commitcomment-26275536

[2017-12-19 11:06] petrsvihlik opened #3 "Implement "Validate" Endpoint"
# Motivation
Content Management SDK for .NET currently doesn't support the `/validate` endpoint. We'd like to have it implemented.

# Solution
- [x] implement the endpoint according to the [documentation](https://developer.kenticocloud.com/v1/reference#content-management-api-validate-project)
- [ ] update the documentation documentation
https://developer.kenticocloud.com/v1/reference#content-manag

[2017-12-19 12:04] JanLenoch commented on #2
Fixed via https://github.com/Kentico/content-management-sdk-net/commit/6e68137da2e55e46590a9d380b21fa48c5cec7f9

[2017-12-19 12:04] #2 closed

[2018-02-06 12:47] JanLenoch opened #4 "Improve the retry policy"
## Motivation
Currently, the retry policy is implemented in the [ContentManagementHttpClient](https://github.com/Kentico/content-management-sdk-net/blob/master/KenticoCloud.ContentManagement/Modules/HttpClient/ContentManagementHttpClient.cs) class.

- Currently, it doesn't work properly, as described in https://github.com/Kentico/content-management-sdk-net/issues/26.
- Also, it doesn't support any

[2018-04-23 12:59] lukasturek opened #6 "Auto init of all model properties"
### Motivation

Currently, the developer must write code to initialize fields of content elements, even though they're supposed to be empty.

[code]

### Design guidelines

It would be nice to have a support for an automatic initialization of empty fields, so as a developer I don't have to do it manually. For example, I want to update the content model:

[code]

### Reference

* [GetContentItemVar

[2018-05-09 08:10] petrsvihlik opened #7 "Enable SourceLink"
**Motivation:** By adding a few SourceLink properties to the `csproj` files, we could allow developers to debug their apps with a full source code of our SDKs (referenced from within the apps as NuGet packages). Even though the SDK is present in the app as a NuGet package, Visual Studio will silently download its source files for the purpose of debugging.

**Howto:** https://github.com/dotnet/sour

[2018-06-26 12:08] lukasturek opened #12 "Wrap content item insert/upsert"
In order to create a content there is a lot of work needed - to create content item model, create the item itself without any data, and create the item variant. The distinction between content item and content item variant does not have to be obvious for a newcomers. And all of this takes many lines of code as can be seen from the example:

[code]

The suggestion would be to create a wrapper, so t

[2018-06-26 12:57] petrsvihlik commented on #12
@ChristopherJennings would you be interested in implementing this? (or someone from the consulting team?)

[2018-08-17 02:37] kentico-ericd opened #19 "Error on ListingResponseModel<AssetModel>.GetNextPage()"
Using .NET CM API 1.2.0, I've created a .NET application and on an ASPX page set Async="true." In the code behind, I have the following:

[code]
In a project with over 100 assets, I get the error found in [error.txt](https://github.com/Kentico/content-management-sdk-net/files/2295771/error.txt) when reaching the GetNextPage() method- if I remove the call everything is fine.

[2018-08-21 07:09] ivanaliptakova commented on #19
fixed in #20

[2018-08-21 07:09] #19 closed

[2018-09-04 07:23] knoxor opened #21 "Unable to create ContentItemCreateModel"
Hi,

I am currently working on the evaluation copy (waiting on enterprise licence) and am looking to migrate content from one KenticCloud instance to another instance (development -> Test). I found your SDK and thought this would be perfect.

I've looked at the examples and have tried to create a ContentItemCreateModel type but am getting an error (the Content Management API also gives the same er

[2018-09-04 08:56] huluvu21 commented on #21
Hi there!
Currently, the CM API does **NOT** support operations for content types. And it seems that there is no content type with codename _contact_page_ in your project.
You need to create the content type manually in the UI. Or you could wait for a few weeks because the support for content models in being developed right now (taxonomy at this very moment).

[2018-09-04 09:36] knoxor commented on #21
Hi,
thanks for the quick response. I guess we'll have to manually create the content types for now but hopefully we can use the SDK if we need to in the future.

[2018-09-04 09:36] #21 closed

[2018-09-12 08:50] knoxor opened #23 "Help needed moving content from one KenticoCloud instance to another"
Hi, we are looking to move content between different instances of Kentic Cloud e.g. development -> test

I've been looking at the SDK and think this would be our easiest option. I'm able to connect to each instance but I'm getting errors when trying to upload a content item to the second instance.

I'm not familiar with .NET and would appreciate any help on this. I've followed the examples in the

[2018-09-12 08:55] knoxor commented on #23
I've included the error below, it looks like error occurs on line 53
ContentItemModel newItem = await toClient.CreateContentItemAsync(newContentItem);

Error below:

`Exception has occurred: CLR/System.AggregateException
An unhandled exception of type 'System.AggregateException' occurred in System.Private.CoreLib.dll: 'One or more errors occurred.'
 Inner exceptions found, see $exception in variab

[2018-09-12 12:08] sutrkiller commented on #23
Hi, the problem is that you are trying to reference the type using codename of an item and since CM API can't find any type with such codename, it fails:
[code]
Therefore, you should pass a codename of the type instead...something like: `item.Type.CodeName`.

[2018-09-12 17:20] petrsvihlik commented on #23
I believe this is the answer:

[code]

Alternatively, you can use the [delivery sdk](https://github.com/Kentico/delivery-sdk-net) (possibly with the preview api key) as the source for your import.

[2018-09-13 10:52] petrsvihlik commented on #23
Hi @knoxor , did the advice help you? Please let us know so that we can help you resolve it asap.

[2018-09-17 09:28] petrsvihlik commented on #23
great!

[2018-09-21 11:02] petrsvihlik opened #24 "Add SDK usage headers"
**Motivation:**
We'd like to start sending a header for identifying SDKs + their versions with each request from all SDKs. The header would be then tracked by App Insights and should provide us with information valuable for multiple departments in Kentico. App Insights already gather information about the user agent, but that is not always usable or present (there are some screenshots below).

In

[2018-10-04 19:53] mpetito opened #26 "ContentManagementHttpClient Re-use of HttpRequestMessage"
### Brief bug description

The algorithm for retrying requests fails because `HttpClient` does not support sending the same instance of `HttpRequestMessage` more than once.

https://github.com/Kentico/content-management-sdk-net/blob/1e8cf8f82dcd53f386b002a83bf139a49087ff46/KenticoCloud.ContentManagement/Modules/HttpClient/ContentManagementHttpClient.cs#L33-L39

If the `HTTP_CODE_TOO_MANY_REQUESTS`

[2018-10-04 21:17] mpetito opened #27 "ContentManagement ExternalId URL fragments should be properly URL escaped"
### Brief bug description

If an ExternalId is provided to the `ContentManagementClient` with a slash `/` then it generates an invalid endpoint url.

### Repro steps

Using the `ContentManagementClient` method `UpsertContentItemByExternalIdAsync`, provide an externalId parameter such as `"some/id"`.

You'll receive a `ContentManagementException` since the generated url appears to be `/items/extern

[2018-10-05 08:48] petrsvihlik commented on #26
Thanks @mpetito for submitting this. I agree we should use Polly. We already use it in our other .NET SDK - the [Delivery SDK](https://github.com/Kentico/delivery-sdk-net/pull/115).

Btw - there is another issue in this repo regarding improving the retry policy: https://github.com/Kentico/content-management-sdk-net/issues/4. I'll update it with your findings.

[2018-10-05 08:58] petrsvihlik commented on #24
fixed by #25

[2018-10-05 08:58] #24 closed

[2018-10-05 09:00] petrsvihlik commented on #4
@mpetito would you be willing to help us with this issue?

[2018-10-05 09:04] petrsvihlik commented on #27
That makes absolute sense.

@huluvu21 did you think about this scenario? Is our API prepared to consume such values? Would it be ok if we just escaped the value?

[2018-10-07 17:48] mpetito opened #29 "Unable to send a value of 0 for decimal element"
### Brief bug description

The default json.net serialization settings for decimal types *always* includes a decimal point.  This appears to be fine for non-zero numbers.  However, the content management api appears to reject a decimal value of `0.0` which is what is serialized if the decimal value is `0` in the strongly typed model.

### Repro steps

Use the SDK to upsert a content variant with a

[2018-10-08 05:28] petrsvihlik commented on #29
@alesk-kentico @huluvu21 any thoughts?

[2018-10-09 15:01] petrsvihlik commented on #29
@mpetito we're discussing the issue internally. I'll let you know about the result.

[2018-10-09 15:01] petrsvihlik commented on #27
@mpetito we're discussing the issue internally. I'll let you know about the result.

[2018-10-10 08:28] petrsvihlik commented on #29
Our initial investigation shows that we need to dive deeper. Here's the explanation from one of our devs @alesk-kentico :

@mpetito we agree with the suggested fix (adjusting the serialization configuration). In the meantime, we'll be investigating how we can fix it in general.

[2018-10-16 09:02] KristianJakubik commented on #3
Hi, I would like to work on this.

[2018-10-16 11:08] petrsvihlik commented on #3
Great! @KristianJakubik , I've just sent you an invitation to the project. I'll be able to assign the issue to you once you accept it.

[2018-10-16 11:35] KristianJakubik commented on #3
@petrsvihlik Invitation is accepted.

[2018-10-18 22:32] KristianJakubik opened #30 "ProjectId type representation"
### Expected result

Hi,
I would need to clarify, what is the proper way to represent the type of `ProjectId`.
In issue #3, I am implementing response object, which contains property `ProjectId` and  to the best of my knowledge this property should be type of `Guid` (other Ids are represented this way).
However in source code it is type of  `string`.

### Resources

https://github.com/Kentico/cont

[2018-10-19 11:35] petrsvihlik commented on #30
Hey @KristianJakubik, it'll always be `Guid`. See this for instance:

https://github.com/Kentico/delivery-sdk-net/blob/master/KenticoCloud.Delivery/DeliveryClient.cs#L113

I think the reason why it's string at some places is that it's more convenient for users to enter just `"49f108e5-2e7e-4405-8369-7e0cf92576f2"` instead of creating `new Guid("49f108e5-2e7e-4405-8369-7e0cf92576f2")` while passing

[2018-10-19 11:35] #30 closed

[2018-10-19 13:43] #29 closed

[2018-10-19 13:43] petrsvihlik commented on #29
fixed in #31

[2018-10-22 21:47] petrsvihlik commented on #7
closed via #32

[2018-10-22 21:47] #7 closed

[2018-10-23 08:58] KristianJakubik opened #33 "Switched parameters of Assert.Equal"
### Brief bug description

Hi,
during working on my issue, I observed, that parameters of `Assert.Equal` are switched.

https://github.com/Kentico/content-management-sdk-net/blob/2e6ef3e660eab3a0ba35561b0d189804863e4a9c/KenticoCloud.ContentManagement.Tests/ContentManagementClientTests.cs#L1156
https://github.com/Kentico/content-management-sdk-net/blob/2e6ef3e660eab3a0ba35561b0d189804863e4a9c/Kenti

[2018-10-23 09:07] petrsvihlik commented on #33
Well spotted! Would you like to fix it yourself?

[2018-10-23 09:13] KristianJakubik commented on #33
Sure :)

[2018-10-23 12:56] KristianJakubik commented on #3
Hi @petrsvihlik
I would need a help out with how to create a valid test cases for this issue.
I assume, if I had a valid API key, I would just ask API to retrieve the valid response, which I could use as data in test cases.

However I don't have access to the API, what am I supposed to do in this case?
Thanks.

[2018-10-23 13:33] #33 closed

[2018-10-29 13:56] petrsvihlik commented on #3
could you please update the docs?

[2018-10-29 14:05] KristianJakubik commented on #3
Yes sure, will do

[2018-10-29 14:22] #27 closed

[2018-10-30 09:52] petrsvihlik commented on #3
alright, I'll have our TWs update it. thanks a lot @KristianJakubik !

[2018-10-30 09:52] #3 closed

[2018-10-30 10:02] petrsvihlik commented on #3
_Internal reference: CTC-329_

[2018-11-09 17:14] yrmartinez commented on #6
@petrsvihlik @JanLenoch  I'd like to help with this enhancement. If it's OK, and since you already groomed, could you give me more details?
Thanks.

[2018-11-11 17:18] petrsvihlik commented on #6
Hi @yrmartinez , I sent you an invitation to the project. I'll be able to assign the issue to you once you accept it.

Can you please be more specific about what should we clarify about this issue?

Basically, we need to make sure that the models (two code blocks in the description) get serialized into a JSON with all it's properties.

It may be as easy as changing the [NullValueHandling](https://

[2019-01-10 14:03] petrsvihlik commented on #4
fixed in #38

[2019-01-10 14:03] #4 closed

[2019-01-10 14:05] petrsvihlik commented on #26
should be fixed by #38

[2019-01-10 14:05] #26 closed

[2019-06-05 07:27] matus12 opened #39 "Propagate Retry-After header value"
### Motivation

When I disable the default resilience logic in the `ContentManagementClient` and I exceed the [API rate limit](https://developer.kenticocloud.com/v1/reference#content-management-api-v2-rate-limits), I have no way to find out how long I should wait before retrying the request.
### Proposed solution

I should be able to get the value of the `Retry-After` header in the `ContentManagem

[2019-06-06 07:55] PetrSvirak commented on #39
It would be a nice touch if the SDK provided an option to retry 429 automatically as well…

[2019-06-06 09:55] matus12 commented on #39
The SDK actually does have the 429 in the [list of status codes to retry](https://github.com/Kentico/content-management-sdk-net/blob/da61e8d4cd6551fe46e34accdcf5df06885dc588/KenticoCloud.ContentManagement/Modules/ResiliencePolicy/RetryHttpCode.cs#L6) in the default retry policy, however, it doesn't take the `retry-after` value into consideration when to retry the request.

[2019-06-12 14:12] PetrSvirak commented on #39
That's actually what I mean; while I'm not sure whether it should be part of default retry policy per se, SDK should IMO be able to handle `retry-after` in the response header (right it is just to some extent).

While allowing SDK users to reach the value feels like a bare minimum to me, it would be great if they didn't need to upscale retry count to about 10 artificially just to get past CM API r

[2019-11-26 15:29] hugobarona opened #43 "Enhance Validation Errors Messages inside the Exceptions when trying to upsert ContentItemVariant"
### Motivation

I noticed during my content migration process that if i have a property that does not accept value of NULL, when i try to upsert the content item variant, it throws an exception with validation errors, but it is not explicit which fields have the problem. So, if i have 20-30 fields with the same problem, it would be beneficial to get information about which fields are failing.

###

[2019-11-28 17:24] petrsvihlik commented on #43
Hi @hugobarona , let me verify it with our devs.

This is what @kentico-michaelb [says](https://app.intercom.io/a/apps/e42kus8l/inbox/inbox/conversation/24736596063):

I created a branch with the scenario (I just basically copied Mike's code): https://github.com/Kentico/kontent-management-sdk-net/tree/GetContentItemVariantUpsertModel

and successfully reproduced the issue.

I think we need to add

[2019-11-29 09:32] hugobarona commented on #43
Hi @petrsvihlik. We are actually addressing two issues here. My initial issue was related to the lack of information in the validation errors that can guide the devs to identify quickly what are the fields causing the validation errors. Then the second issue, is actually the partial updates using the SDK, when you do not specify non-nullable fields, such as TaxonomyTermIdentifier. I discussed this

[2019-11-29 11:17] petrsvihlik commented on #43
@hugobarona thank you, noted! :)

[2019-12-04 13:28] petrsvihlik commented on #43
@hugobarona just a short update
1) better validation messages are now being worked on by the dev teams
2) the serialization issue in this SDK will be reviewed by @makma

[2019-12-09 20:10] makma commented on #43
Yes, the serialization fix looks good to me, moreover, I think it's appropriate to fix it this way. I've also adjusted tests and sample data in https://github.com/Kentico/kontent-management-sdk-net/pull/44.

Thank you @kentico-michaelb for research and your helpful insights and @hugobarona for pointing our attention to the issue!

[2019-12-10 09:22] #43 closed

[2019-12-10 09:30] petrsvihlik commented on #43
hey @hugobarona,
you can download the fixed version of the SDK at: https://www.nuget.org/packages/Kentico.Kontent.Management/2.0.1

regarding the error messages, I expect them to be released in January (max. February)...the dev teams are working on them atm.

[2019-12-10 09:36] hugobarona commented on #43
Hi @petrsvihlik, thank you for the update. Then since the team is still working in the issue, this one should remain as open, and not closed, right?

Regards,
HB

[2019-12-10 09:42] petrsvihlik commented on #43
The improvement will be done on the API level. There isn't much that we can do in this SDK.
Once the new error messages get released they should propagate through any SDK basically.
You should be notified about the release through one of the usual product update messages.
Is that ok?

[2019-12-10 09:46] hugobarona commented on #43
Ok sounds good.
Thank you.

[2019-12-17 17:23] xantari opened #45 "Duplicate Sub Nuget published?"
### Brief bug description

There appears to be a problem with your nuget publish I think.

There is Kentico.Kontent.Management.Helpers published to nuget (latest version 2.0.1) published Dec 10.

Then there is also Kentico.Kontent.Management version 2.0.1 also published to nuget.

Which is the ideal version? They appear to be the same except that the .Helpers version might be .NET Full framework o

[2019-12-17 17:30] xantari opened #46 "ContentManagementHelpersOptions now appears to be ManagementHelpersOptions"
### Brief bug description

In KenticoCloud.ContentManagement.Helpers the edit link helper use to use ContentManagementHelpersOptions, but in the new Kentico.Kontent.Management.Helpers it is now called ManagementHelpersOptions.

You might want to list that as a breaking change when updating and also update your README.MD in this repo which still lists the ContentManagementHelpersOptions class as be

[2019-12-30 15:41] #45 closed

[2019-12-30 15:49] petrsvihlik commented on #45
Hey @xantari , thanks for pointing this out!

Kentico.Kontent.Management  -> Management SDK
Kentico.Kontent.Management.Helpers -> A helper library for generating edit URLs (links leading to specific content items in app.kontent.ai)

I tried to make it more clear in the readme: https://github.com/Kentico/kontent-management-sdk-net#kentico-kontent-management-net-sdk

[2019-12-30 15:51] petrsvihlik commented on #46
Thanks, we missed this occurrence and a few others. All should be fixed in:
fixed in https://github.com/Kentico/kontent-management-sdk-net/commit/a5cf211311cadd07c18ab2a7126e5281b0868f95

[2019-12-30 15:51] #46 closed

[2020-03-17 21:12] xantari opened #50 "Management API v2"
**Edited by: @petrsvihlik**
Hi, Kentico Kontent community!
We want to rewrite this SDK to support the [Management API v2 endpoints](https://docs.kontent.ai/reference/management-api-v2) and **we need your help**!

We'd really appreciate it if you'd take part in making Kontent's .NET ecosystem amazing and fixed just a single method. @xantari already laid the [foundations of the new API](https://gith

[2020-03-18 06:48] petrsvihlik commented on #50
Hi @xantari , the .NET SDK for Management API v2 is still under consideration.
In the meantime, you can use the [JavaScript SDK](https://github.com/Kentico/kontent-management-sdk-js) which should have 100% coverage of the API.

[2020-03-20 17:09] xantari opened #51 "Is the Kontent Management SDK thread safe?"
### Motivation

I am wondering if this .NET library is thread-safe? I instantiated it as a singleton using .NET Core's out of the box DI registration mechanism and was wondering if that is OK or not.

FYI, this is how I am registering the client in .NET Core. Let me know if this is incorrect:

            var managementOptions = new ManagementOptions();
            Configuration.GetSection("Manage

[2020-03-23 16:26] petrsvihlik commented on #51
Hi @xantari ,
the SDK itself does not contain any static state. It also doesn't violate any of Microsoft's [managed threading best practices](https://docs.microsoft.com/en-us/dotnet/standard/threading/managed-threading-best-practices). I think it's actually a good idea to use it as a singleton in order to reuse the `HttpClient`. As the [MS docs](https://docs.microsoft.com/en-us/dotnet/architecture

[2020-03-23 16:26] #51 closed

[2020-04-13 14:46] xantari opened #52 "Management Client Factory"
### Motivation

It would be helpful to be able to register multiple management clients for different projects.

### Proposed solution

Implement a management factory where you can register multiple management clients by name.

[2020-04-13 14:48] xantari opened #53 "Make ManagementClient mockable"
### Motivation

It seems only the concrete implementation exists for ManagementClient.

### Proposed solution

Add interface so it can be mocked / tested.

[2020-04-14 08:07] petrsvihlik commented on #52
thanks for inputs @xantari! we'll consider it for the Management API v2 SDK (#50)

in the meantime, we're open to any pull requests!

[2020-04-14 08:07] petrsvihlik commented on #53
thanks for inputs @xantari! we'll consider it for the Management API v2 SDK (#50)

in the meantime, we're open to any pull requests!

[2020-06-02 22:59] alex21cn opened #54 "Width and Height of Asset model are missing"
### Motivation

Why is this feature required? What problems does it solve?

### Proposed solution

An ideal solution for the above problems.

### Additional context

Add any other context, screenshots, or reference links about the feature request here.

[2020-08-11 13:53] zurcacielos opened #55 "Where to add the possibility of creating a new-version of a language variant?"
### Expected result
Having the ability of "Add a new version of a language variant" in API v1 for .NET

This is something available in the API v2
https://docs.kontent.ai/reference/management-api-v2#operation/create-a-new-version-of-a-language-variant

But I don't see it in the API v.1. Unless I'm missing something.

Can somebody give a hint on how to modify the API v1 to allow this? that will save

[2020-08-12 11:30] petrsvihlik commented on #55
@huluvu21 ?

[2020-08-12 11:30] petrsvihlik commented on #54
@huluvu21 ?

[2021-01-21 17:02] andreqb opened #58 "ManagementException, NextPage - RequestUriTooLong"
### Brief bug description

When trying to page through the ListingResponseModel using NextPage I get an exception the first time of RequestUriTooLong

### Repro steps

[code]

### Expected behavior

Would expect this to just work it is the base case.  The original call works just fine.

### Test environment

AspNetCore 2.2

### Other Notes

The original call is to _client.ListContentItemsAsync()

[2021-01-29 18:37] xantari commented on #50
Any update on this one? We are trying to add "folder path" from a Kentico Asset item to our azure search index, this is all handled via a C# .NET backend API. We need this folder path so that we can filter out certain asset areas (such as excluding all content from /Documents/News Feed Docs". However the V1 management API does not give us any mechanism to interrogate the blob asset to figure out w

[2021-02-01 14:15] petrsvihlik commented on #50
Unfortunately, it still didn't get high enough in our priorities. I'd personally love to have it but it's quite a large project.
We're waiting for more feedback.

**Community: If you're reading this and it's relevant to you, please let us know. A comment or a simple upvote will do!**

[2021-02-01 20:39] xantari commented on #50
https://github.com/xantari/kontent-management-sdk-net-v2 I forked this repo, and added a few methods I needed.

The commit that added the features: https://github.com/Kentico/kontent-management-sdk-net/commit/3b5aaf6de8496caea364f95f3eb977b570829643

Basically the library I forked is now a hybrid library. Some functions have switched to V2:

1. ListAssets
2. AssetUpdate
3. AssetUpsert

Added V2 On

[2021-02-01 20:56] xantari commented on #50
Updated the comments above. This basically brings the asset functionality mostly up to date with the V2 assets functionality. The things that are missing is the add/update folder functions (which we don't need at the moment) so I didn't add them.

[2021-02-01 21:47] xantari commented on #50
If you want I could re-play these updates (without the huge .v2 namespace change) in another forked copy and do a PR... (I don't have ability to complete the unit tests the way you were doing them though, seems to rely on some sort of internal kentico project id for prescribed response models and would require a regeneration of all those responses with the additional attributes I added to the Asse

[2021-02-03 08:12] petrsvihlik commented on #50
thank you! I will check it out on Friday (hopefully) and let you know

[2021-02-08 11:26] petrsvihlik commented on #50
I went through the code and don't have any objections to your approach. I also appreciate the extension methods. This is something we'd like to improve in the future - have a layer of common extensions wrapping multiple API calls into a simple developer-friendly interface.

I like the iterative approach you suggested. This way, we can start bringing in and officializing new functionality created b

[2021-02-10 14:52] xantari commented on #54
@petrsvihlik This fix is also contained in this PR: https://github.com/Kentico/kontent-management-sdk-net/pull/59

I added the ImageHeight / ImageWidth attributes from the V2 API...

[2021-02-10 16:03] petrsvihlik opened #60 "Fix tests"
### Brief bug description

The project used for generating test fixtures (`e38f8e94-7d3b-0062-77f5-a4bc505780d4`) is corrupted (there are some extra items, some items are missing, etc.)

### Repro steps

Just run the unit tests with the `TestRunType.LiveEndPoint_SaveToFileSystem` setting.

### Expected behavior

- fix the data in the project (align them with what the unit tests expect)
- create an

[2021-02-10 16:21] #54 closed

[2021-02-10 16:21] petrsvihlik commented on #54
Thanks @xantari !

[2021-02-18 12:54] makma commented on #60
### Fix the data in the project (align them with what the unit tests expect)
- data isfixed, only small changes namely:
-- different GUIDs for existing taxonomies
-- removed asset directories structure
-- inactive Spanish language
-- some small inconsistencies for the `/validate` endpoint

[2021-02-18 13:26] makma commented on #60
The main issue with tests running on mocked data was introduced in https://github.com/Kentico/kontent-management-sdk-net/commit/c516343b by removing the API key. Therefore, the client (even for mocked data) couldn't be initialized properly.

Not sure whether to fix it in the main test class or in the init of the mocked client. I've chosen the `ManagementClientTests.cs` main class since it's IMO mo

[2021-02-22 09:45] makma commented on #60
**Create an export of the data (using KK backup manager) and commit it to this repo so that anybody can back to it later (including the community)**
- https://github.com/Kentico/kontent-management-sdk-net/commit/e93f6f8eb4da9320c2df26bbb7fb2e2ff22b5020

[2021-02-22 09:46] petrsvihlik commented on #60
This is ok

[2021-02-22 09:47] makma commented on #60
** document the process of regenerating the text fixtures in GH Wiki so that everybody is aware and able to create tests on their own from the export package **
I believe it's more explicit in the readme, but we can discuss it and move it to wiki.

[2021-02-23 09:32] makma commented on #60
Moreover, there was another mistake - when using `FileSystemHttpClientMock` with `LiveEndPoint_SaveToFileSystem` mocking logic didn't include headers into the requests, therefore, e.g. requests for paging (with a continuation token) were send without token which caused an infinite loop (keep asking for the `NextPage` without continuation token)- fixed in https://github.com/Kentico/kontent-manageme

[2021-02-23 10:58] makma commented on #60
### Add fixtures for the new functionality
- tests added in https://github.com/Kentico/kontent-management-sdk-net/commit/734380b7c6b13459810aa6fd6239219db5d6c84a

### Two tests were marked skipped
- `UpdateContentItem_UsingResponseModel_UpdatesContentItem` since underlying item/logic in Kontent is in inconsistent state and cannot be deleted in UI. This test is very indeterministic, often throwsKen

[2021-02-23 11:26] petrsvihlik commented on #60
`UpdateContentItem_UsingResponseModel_UpdatesContentItem` - agreed

`ListFolders_GetFolderHierarchy_ExistingFolder` - @xantari could you please take a look at the following TODOs and resolve them? we need to make sure the comments are clear and the logic robust before we release a production version.

https://github.com/Kentico/kontent-management-sdk-net/blob/1e3ffa91e2ed6b290d79f7778490e287f7191f

[2021-02-23 11:28] petrsvihlik commented on #60
+ I'm also wondering if it'd be possible to somehow unify the `AssetFolderLinkingHierarchy` and `AssetFolderHierarchy` models (if not the methods they're used in).

[2021-02-23 20:55] xantari commented on #60
@petrsvihlik Looking at this now. In regards to the AssetFolderLinkingHierarchy, I split it out because I wasn't sure if / when you get to the point of adding the function to add folders whether or not you wanted that Parent folder linking. Would the programmer know they could leave that null since it doesn't map to anything in the management API? Or would they think they need to fetch that parent

[2021-02-23 21:49] xantari commented on #60
@petrsvihlik Is there something I need to do to run the unit tests?

Getting this when running the ListFolders_GetFolderHierarchy_ExistingFolder unit test (haven't touched anything in the code yet, running a fresh version of your repo after bringing in your upstream changes)

[code]

[2021-02-23 22:31] xantari commented on #60
@petrsvihlik Here are my responses:

            // TODO: why method returns IEnumerable<AssetFolderHierarchy> ?

When you get a response back from the API it comes in the form of a single AssetFolderHierarchy model. In that model is the Folders property which is IEnumerable<AssetFolderHierarchy>.

That helper method converts an IEnumerable<AssetFolderHiearchy> into IEnumerable<AssetFolderLinkingH

[2021-02-24 08:22] makma commented on #60
Hey @xantari!
It's nice to virtually meet. I fetched a fresh master and can confirm I can not run the test successfully on my machine, as well. I'm working on fix. I'll keep you updated as soon as possible.

[2021-02-24 09:51] makma commented on #60
Oh, I got it now, the mac issue is just a separate one :/. From the log, I noticed you are running on the Win environment. The mocked data for skipped tests were not included in the original PR. I'm going to populate those data and add them. I'll keep you update.

[2021-02-24 09:59] makma commented on #60
Missing mocked data should be fixed in https://github.com/Kentico/kontent-management-sdk-net/pull/63

[2021-02-24 11:20] makma opened #64 "Test fixtures mocking engine is not agnostic to environment"
### Brief bug description

When you try to run tests on Mac, respective text fixtures (mocked requests) are not found.
The reason is, the mocking engine does not respect the environmental differences among different platforms (Win/Linux/Mac).
Each of these platforms represents a new line differently - e.g. `line feed` vs `line feed carriage return`.
The root cause of the issue is here: https://git

[2021-02-24 13:47] petrsvihlik commented on #60
good point, let's leave it this way

[2021-02-24 14:01] petrsvihlik commented on #60
But when you search for a given `string folderId`...shouldn't it return only a single `AssetFolderHierarchy`?

[2021-02-24 14:53] xantari commented on #60
Yes, let me fix that.

[2021-02-25 16:09] xantari commented on #60
Sorry, I had a packed day yesterday, so wasn't able to work on this till this morning.

[2021-02-27 18:20] petrsvihlik opened #66 "UpdateContentItem_UsingResponseModel_UpdatesContentItem is nondeterministic"
### Brief bug description

- `UpdateContentItem_UsingResponseModel_UpdatesContentItem` since underlying item/logic in Kontent is in inconsistent state and cannot be deleted in UI. This test is very indeterministic, often throws `Kentico.Kontent.Management.Exceptions.ManagementException : The request was not processed because the specified object has been modified by another request.`. Since it's o

[2021-02-27 18:20] petrsvihlik commented on #60
the only outstanding issue was split into #66

[2021-02-27 18:20] #60 closed

[2021-03-19 13:54] petrsvihlik commented on #50
- [Latest MAPI Swagger OASv3](https://kcdmaster.blob.core.windows.net/api-reference-specifications/management_api_v2.json)

API Coverage:
- Content Items
  - [ ] POST `/{project_id}/items`
  - [ ] GET `/{project_id}/items`
  - [ ] GET `/{project_id}/items/{item_identifier}`
  - [ ] PUT `/{project_id}/items/{item_identifier}`
  - [ ] DEL `/{project_id}/items/{item_identifier}`
- Language variants

[2021-04-21 18:32] NammoPillai commented on #6
Hi @petrsvihlik, is this something that still needs to be worked on, seeing as this issue was opened in 2018?

[2021-04-21 19:19] petrsvihlik commented on #6
Hi, I'm no longer on the team. Tagging the code owners @Kentico/developer-experience

[2021-04-26 10:58] makma commented on #6
Hi @NammoPillai, thank you for your interest.
To be honest, I was not sure whether this issue is still valid so I tried it. I was able to upsert a variant with just a subset of the elements of the content item.

I've got an `Article` content type with two elements (`title` and `description`). Both of them are Text elements.
When I tried to upsert variant with just a single element (`title`) specif

[2021-04-27 08:21] lukasturek commented on #6
@makma This is exactly the desired behavior. I'm not aware of this fix, but glad to hear that it's working now. Closing the issue.
@NammoPillai Thank you for trying to help though, really appreciate it!

[2021-04-27 08:21] #6 closed

[2021-08-02 18:16] Simply007 opened #69 "Refactor ManagementClientTests Architecture"
### Motivation

* Currently, the tests are hard to maintain, read, and basically dependent on the live project in Kontent if new features are added and bugs are fixed.
* Re-generation requires there steps - Re-run ManagementClientTests with `private static readonly TestUtils.TestRunType _runType = TestUtils.TestRunType.MockFromFileSystem;`, after tests are green, commit changes in `~/Kentico.Konte

[2021-08-17 11:02] Simply007 commented on #64
Should be covered in #67

[2021-08-19 16:19] kentico-michaelb opened #74 "id is not assignable to IRichTextComponent"
### Brief bug description

When using the languageVariantElementsBuilder in v1.3.0 of the SDK, the id property of a component object in a richTextElement throws error:

_Type '{ id: string; type: { codename: string; }; elements: { element: { codename: string; }; value: string; }[]; }' is not assignable to type 'IRichTextComponent'.
  Object literal may only specify known properties, and 'id' does

[2021-08-20 04:22] Simply007 commented on #74
Hey @kentico-michaelb,

I guess this issue should be submitted in JS management SDK right?

[2021-08-20 11:37] kentico-michaelb commented on #74
*doh*. Yes of course. Too many tabs open and support conversations happening at the same time. Sorry. I'll close it and rewrite it.

[2021-08-20 11:37] #74 closed

[2021-10-19 07:31] Simply007 opened #78 "Refactor Units test to not rely on real REST endpoint."
### Expected result

Current tests need to pre-record requests and responses against real REST endpoint before they could act as isolated.

Come up with a better approach that would test the SDK functionality without necessity to pre-record requests and reposnse.

### Additional context

* Use static JSONs
* We might use [MAPI Swagger definition](https://kcdmaster.blob.core.windows.net/api-referen

[2021-10-19 07:31] Simply007 opened #79 "Cover Creating Language"
### Motivation

Currenlty test `Kentico.Kontent.Management.Tests.ManagementClientTests.CreateLanguage_CreatesLanguage` is skipped, because the Languages can't be deleted, only archived.

### Proposed solution

Make this test completely Unit and do not rely on the real endpoint.

### Additional context

related to #78

[2021-10-19 08:38] Simply007 opened #81 "Fix ListLanguageVariantComponentByType_ByCodename_ListsVariants"
### Brief bug description

Currently, the test does not search for any existing language variant.

### Expected behavior

The test should search for an actual component in rich text.

You can to use `Kentico.Kontent.Management.Tests.ManagementClientTests.Scenario`'s `Elements` property where is an exiting component in rich text already.

### Additional context

* https://docs.kontent.ai/reference/

[2021-10-19 08:49] Simply007 opened #82 "Rename ListLanguageVariantsAsync to ListLanguageVariantsByItemAsync"
### Task

Rename method name ListLanguageVariantsAsync to ListLanguageVariantsByItemAsync to behave the naming unified.

### Additional context

https://docs.kontent.ai/reference/management-api-v2#operation/retrieve-language-variants-of-an-item

[2021-10-20 07:49] Simply007 opened #83 "Unify naming of Content Item Language variant"
### Motivation

There is currently a clash between `Content ItemVariant and `LanguageVariant` in the solution.

+ Rename `ChangeWorkflowStep` to ChangeContentItemVariantWorkflowStep
 based on internal feedback - https://kentico.atlassian.net/wiki/spaces/KDevRel/pages/2973433892/.NET+Management+SDK

### Proposed solution

The naming should be unified we should call the content item language variant

[2021-10-20 17:34] Neytus opened #89 "Add support for Subpages element"
Based on the information provided, add SDK support for a new element type: `"subpages"`

Related Jira task: https://kentico.atlassian.net/browse/KCL-7804
Expected latest release date: 10.11.2021

[2021-10-25 06:54] Simply007 opened #95 "Prepare Readme for v3"
### Brief bug description

V3 supporting is about to be supporting [Kontent Management API v2](https://github.com/Kentico/kontent-management-sdk-net/milestone/5). The readme is still outdated.

Update it.

### Additional context

It can be inspired by [MAPI SDK dor JS](https://github.com/Kentico/kontent-management-sdk-js)

[2021-10-25 06:56] Simply007 opened #96 "Prepare samples for documentation"
### Motivation

To have the SDK ready for release, code samples need to be part of the Docs portal.

### Proposed solution

Prepare samples for https://github.com/KenticoDocs/kontent-docs-samples. Use JS Management SDK sample as a template for samples.

* All examples in https://github.com/KenticoDocs/kontent-docs-samples/tree/master/js/cm-api-v2
* importing folders: https://github.com/KenticoDocs

[2021-10-25 13:47] gormal opened #97 "Add more tests for ListLanguageVariantByCollectionAsync"
There are tests missing for method ListLanguageVariantByCollectionAsync.

Please cover listing language variants by collection by codename and external Id. Also, provide a test for pagination.

[2021-10-25 13:49] gormal opened #98 "Add more tests for ListLanguageVariantComponentByType"
There are tests missing for method ListLanguageVariantComponentByType.

Please cover listing language variants component by type by codename and external Id. Also, provide a test for pagination.

[2021-11-05 12:23] Iorethan opened #102 "Add SDK support for custom validation in text elements"
Add SDK support for custom validation in text elements

Related Jira task: https://kentico.atlassian.net/browse/KCL-7856
Expected release date: 24.11.2021

[2021-11-05 12:52] gormal commented on #83
Fixed in #93

[2021-11-05 12:52] #83 closed

[2021-11-06 17:42] Simply007 opened #103 "Set up multitarget projects"
## Motivation
MS has released .NET 6 RC2 which will be the next version of .NET, and it seems like Kontent Delivery SDK does not support it
yet:

TODO:
* [x] Add information about target best practices.

Related to https://github.com/Kentico/kontent-generators-net/pull/126

## Proposed solution
Update the SDK to support the latest .NET.

Check out https://github.com/Kentico/kontent-delivery-sdk-ne

[2021-11-10 14:05] Simply007 commented on #95
With for #96 to be resolved. There might be some changes.

[2021-11-10 15:49] #97 closed

[2021-11-10 15:49] #82 closed

[2021-11-10 15:51] Simply007 commented on #79
Fixed on #91

[2021-11-10 15:51] #79 closed

[2021-11-10 15:52] Simply007 commented on #81
Fixed by #88

[2021-11-10 15:52] #81 closed

[2021-11-25 12:00] gormal commented on #98
Fixed in #105

[2021-11-25 12:00] #98 closed

[2021-11-26 10:18] Simply007 opened #110 "Cover ElementMetadataExtension by tests"
Class:
https://github.com/Kentico/kontent-management-sdk-net/blob/0eff2a0525f089d44cc2d1370066bbdf744862ac/Kentico.Kontent.Management/Extenstions/ElementMetadataExtension.cs#L9

[2021-11-30 08:03] gormal commented on #53
This was done to the vNext branch.

[2021-11-30 09:07] gormal commented on #89
Done in #109

[2021-11-30 09:07] #89 closed

[2021-12-09 09:30] IvanKiral opened #117 "Extend custom regex validation with validation message"
### Motivation

Validation Regex is being extended with custom validation messages. The issue should add property of the validation message into the SDK models.

### Proposed solution

 * [ ] Extend ValidationRegexModel with validation message property
 * [ ]  Check and extend related tests

### Additional context

Related issue: https://kentico.atlassian.net/jira/software/c/projects/KCL/boards/54

[2021-12-09 09:30] IvanKiral commented on #117
I would like to keep this issue

[2021-12-09 14:59] Simply007 commented on #103
Information about projects targets: https://github.com/Kentico/Home/wiki/Kentico's-best-practices-for-.csproj-files#target-framework

[2021-12-15 15:12] zbynekh opened #119 "Add support for project roles"
### Motivation

We have added new endpoints to the Management API for project roles and we would like it to be covered in the SDK.
(!) Going to be released in the first half of January 22.

### Proposed solution

The SDK should include the functionality of the new endpoints for roles:

- get all roles
- get role by identifier

### Additional context

See Docs preview for more detailed info.

The e

[2021-12-15 15:13] zbynekh opened #120 "Add support for project users"
### Motivation

We have added new endpoints to the Management API for project users and we would like it to be covered in the SDK.
(!) Going to be released in the first half of January 22.

### Proposed solution

The SDK should include the functionality of the new endpoints for users:

- invite user into a project
- change user roles

### Additional context

See Docs preview for more detailed info

[2021-12-17 11:10] Sevitas commented on #53
Reopening this because cannot properly set up a mock for listing endpoints.

[2021-12-22 10:32] zbynekh opened #122 "Add support for subscription users"
### Motivation

We have created a subscription-scoped part of the management API, called Subscription API (SAPI) for subscription admins and we would like it to be covered in the SDK.

(!) Going to be released in the first half of January 22.

### Proposed solution

The SDK should include functionality of the new endpoints for subscription users:
- get all subscription users
- get subscription use

[2021-12-22 10:33] zbynekh opened #123 "Add support for subscription projects"
### Motivation

We have created a subscription-scoped part of the management API, called Subscription API (SAPI) for subscription admins and we would like it to be covered in the SDK.

(!) Going to be released in the first half of January 22.

### Proposed solution

The SDK should include functionality of the new endpoints for subscription projects:
- get all subscription projects

### Additional

[2021-12-22 12:53] NabilAhami opened #124 ".ToList() missing at end of query in ModelProvider.cs"
### Brief bug description

.ToList() missing at end of query in ModelProvider.cs (line 57)

### Repro steps

1. Go to 'vNext branch'
2. Open file 'kontent-management-sdk-net/Kentico.Kontent.Management/Modules/ModelBuilders/ModelProvider.cs'
3. On line 57: missing .ToList() at end of query

### Expected behavior
public LanguageVariantUpsertModel GetLanguageVariantUpsertModel<T>(T variantElements) w

[2021-12-22 14:44] #124 closed

[2022-01-04 07:42] #103 closed

[2022-01-04 07:43] #96 closed

[2022-01-04 07:46] Simply007 commented on #50
All endpoints should be covered in the new released v3 betas.

Progress of the final release could be tracked here: https://github.com/Kentico/kontent-management-sdk-net/milestone/5

[2022-01-04 07:46] #50 closed

[2022-01-04 09:18] #117 closed

[2022-01-06 12:51] gormal commented on #110
FFixed in #115

[2022-01-06 12:51] #110 closed

[2022-01-06 14:02] #95 closed

[2022-01-12 12:08] milan009 commented on #119
Released on 2022-01-12

[2022-01-12 12:08] milan009 commented on #120
Released on 2022-01-12

[2022-01-12 12:08] milan009 commented on #122
Released on 2022-01-12

[2022-01-12 12:08] milan009 commented on #123
Released on 2022-01-12

[2022-01-13 14:58] Sevitas opened #126 "Simplify DI for ManagementClient"
### Motivation
Enables user to use it simply with DI

### Proposed solution

Can be done using extension methods. For inspiration see [kontent-delivery-sdk-net](https://github.com/Kentico/kontent-delivery-sdk-net/blob/master/Kentico.Kontent.Delivery.Extensions.DependencyInjection/Extensions/ServiceCollectionExtensions.cs)

[2022-01-14 09:56] gormal commented on #120
We need to cover new endpoints as well as update code samples in docs.

[2022-01-14 09:57] gormal commented on #119
We need to cover new endpoints as well as update code samples in docs.

- [ ] Cover endpoint
- [ ] Update code samples

[2022-01-14 09:57] gormal commented on #123
We need to cover new endpoints as well as update code samples in docs.

- [ ] Cover endpoint
- [ ] Update code samples

[2022-01-20 09:36] Simply007 opened #128 "Deprecate MAPI v1 in docs"
### Brief bug description

After releasing the final version of the SDK for Management API v2. Let's notify about MAPI v1 deprecation.

* Define deprecation period
* Inform people about deprecation in docs + direct email/intercom message for the users using it
* Coordinate releasing of https://github.com/alanta/Kontent.Statiq/pull/35

Note: we still have traffic on v1 MAPI (i.e. 260k API calls for

[2022-01-20 11:45] #102 closed

[2022-01-20 13:50] Simply007 opened #130 "Add get all pages extension method"
### Motivation

Currently, if you need to load all pages from the dynamically paginated endpoints, you need to use the approach documented in #129 - basically use a loop and `HasNextPage` and `GetNextPage` on `ListingResponseModel`.

### Proposed solution

Wrap the loop into extension methods. To have a universal approach to get all entities that are retrieved in paginated form.

### Additional co

[2022-02-03 09:08] gormal commented on #53
Mocking for listing endpoints was fixed in #121. I am closing the issue. Feel free to reopen if any other problem occurs.

[2022-02-03 09:08] #53 closed

[2022-02-07 08:55] #120 closed

[2022-02-07 08:55] #119 closed

[2022-02-07 15:40] gormal commented on #58
Hi, this should be fixed in the newest [pre-release](https://github.com/Kentico/kontent-management-sdk-net/releases/tag/3.0.0-beta4).

Feel free to re-open this issue if you need more info.

[2022-02-07 15:40] #58 closed

[2022-02-21 12:25] petrareb opened #136 "Add support for environment management"
### Motivation
As an environment manager/developer, I want to be able to programmatically manage environments so that I don't have to do it all manually in Kontent.

This feature will be released at the beginning of March.

### Proposed solution
The SDK should support new functionality:
- clone environment
- delete environment
- rename environment
- get environment cloning state
- mark environment

[2022-02-22 09:11] Suzii opened #137 "Add support for Asset Renditions and their referencing"
### Motivation

Asset Renditions were added to Kontent App a while ago. They can be referenced from the Asset element in order to customize images. Now the feature has made its way to MAPI as well, and we should add support for managing renditions and referencing them to SDK as well.

### Proposed solution

- Models and endpoints for CRUD operations for Asset rendition entity (`/asset/{assetId}/re

[2022-02-24 18:54] #130 closed

[2022-02-25 12:28] #123 closed

[2022-02-25 12:29] #122 closed

[2022-02-28 10:57] Iorethan opened #143 "Add regex validation data to URL slug element model"
### Motivation

Regex validations for URL slug elements are to be added to Kontent. This extends models of URL slug elements with a regex object. This addition should be reflected in the SDK.

### Proposed solution

Extend URL slug model with the same regex object as is used in text elements. The changes should be the same as done it those two PRs that modified text element in the same way:
https:

[2022-02-28 12:32] Suzii opened #144 "Add support for elements in Asset entity"
### Motivation

The feature "asset tagging", internally represented as the presence of Taxonomy elements in the Asset entity was introduced to the UI a while ago and now has made its way to the MAPI as well. Now is the time to add support to MAPI SDKs.

### Proposed solution

Introduce new property `Elements` to the Asset entity and make it work. The idea for the API to be exactly the same as elem

[2022-03-02 14:09] Suzii commented on #137
@gormal is it necessary to update readme with code samples on how to work with renditions?

[2022-03-02 14:10] Suzii commented on #144
@gormal should I update these parts of readme? https://github.com/Kentico/kontent-management-sdk-net#asset-methods

[2022-03-03 10:51] gormal opened #146 "Missing method for strongly typed language variants"
### Brief bug description

Missing implementation of following method:

[code]

[2022-03-03 15:21] gormal commented on #144
If you have time for it that would be great.

[2022-03-09 13:39] Suzii commented on #137
PR merged. Leaving the issue open, because Readme needs to be updated with renditions' code samples.

[2022-03-10 14:02] gormal opened #151 "Renaming unit tests"
### Brief bug description

All unit tests for asset + assetRendition in EndpointUrlBuilderTests class don't follow our naming convention. Please amend them accordingly.

Also, please, validate that test names corresponds with what the test actually does.

See comments: #147

[2022-03-11 07:06] Suzii commented on #144
Both code and the code sample PRs merged. Can we close the issue now? :)

[2022-03-11 11:20] gormal commented on #144
Sure ;)

[2022-03-11 11:20] #144 closed

[2022-03-11 12:45] Simcsa commented on #137
Readme does not need to be updated with renditions code samples - the docu examples are enough in this case.

But, the code examples from docu need to be added into tests in this SDK. Done here: https://github.com/Kentico/kontent-management-sdk-net/pull/156

[2022-03-11 12:55] gormal commented on #137
Done. Thank you all for your contribution!

[2022-03-11 12:55] #137 closed

[2022-03-14 09:23] twadevs opened #158 "GetNextPage() for ListContentItemsAsync is throwing an NotFound error"
Hi,

We are currently using the management v1 SDK for various migration tasks - but just noticed that as of today we can get the next page for the ListContentItemsAsync  response. This is the error:

**Unknown error. HTTP status code: NotFound. Reason phrase: Not Found.; Kentico.Kontent.Management;    at Kentico.Kontent.Management.Modules.HttpClient.ManagementHttpClient.SendAsync(IMessageCreator m

[2022-03-15 09:18] IvanKiral commented on #158
Hello,

thank you for letting us know about your issue.

Unfortunately, I could not replicate your error, could you please provide us with more context? Also could you try whether the same error occur when you use Management SDK v2? What would it take you to use v2?

[2022-03-15 13:12] robertstebel opened #159 "Add support for Workflows"
### Motivation

As a project manager, I want to be able to programmatically manage workflow entities. Specifically, I need CRUD operations over the workflow entity and the ability to change the workflow in the existing item's variant.

### Proposed solution

The SDK should support new functionality:
- create a new workflow
- update an existing workflow
- delete unused workflow
- get all existing w

[2022-03-31 23:49] twadevs commented on #158
Hi,

Thanks for your response.

Just wanted to give an update:

I got around the issue by skipping the GetNextPage() call and getting a new set of 100 items using ListContentItemsAsync. We are using this script to clear out the project to do a fresh migration, as part of testing. So the code at the moment gets 100 items, deletes them, and then gets another 100.

[code]

We are using SDK v1 because

[2022-04-01 06:51] gormal commented on #158
Thanks for the update!

Happy to hear that you plan to use the new version of SDK for your next update.

[2022-04-01 08:32] gormal commented on #69
All tests have been re-written in a new way.

[2022-04-01 08:32] #69 closed

[2022-04-05 08:24] gormal commented on #158
@mbridges-envative could you please try to use version [2.2.0-beta1](https://github.com/Kentico/kontent-management-sdk-net/releases/tag/2.2.0-beta1)?

[2022-04-06 12:46] mbridges-envative commented on #158
@gormal would you be able to provide any details to how/why this issue arose while using the latest, official Management SDK release (2.1.0)?

[2022-04-06 13:02] mbridges-envative commented on #158
@gormal thanks for providing this feedback. I'm just curious why this breaking change would have been introduced, but not supported by an official SDK release.

[2022-04-06 13:29] gormal commented on #158
Well, to be honest, we didn't invest much time in .NET SDK previously and when that has changed we immediately start working on a new major version that would support all endpoints from API v2 which is about to be released really soon.

[2022-04-06 15:26] gormal commented on #158
yeah, that would be great! 3.0.0-beta7 is the last beta before the major release, and we expect that version 3.0.0 should be basically the same as 3.0.0-beta7.

[2022-04-11 10:48] robertstebel opened #168 "ChangeLanguageVariantWorkflowAsync method doesn't work as expected"
### Brief bug description

ChangeLanguageVariantWorkflowAsync doesn't take the second parameter into account which leads into incorrect requests

[2022-04-11 11:00] #168 closed

[2022-04-21 11:32] gormal commented on #55
Hi, we have [new version of SDK](https://github.com/Kentico/kontent-management-sdk-net/releases/tag/3.0.1) that implements all endpoints of MAPI v2.

Feel free to re-open this issue if you have any additional questions.

[2022-04-21 11:33] #55 closed

[2022-04-27 15:30] mattnield opened #172 "Using strong-typed element in Language Variants"
### Motivation

**_Why is this feature required? What problems does it solve?_**
Being able to retrieve a strong-typed language variant, and/or its elements when processing content items

### Proposed solution

Add an extension method to `LanguageVariantModel` that makes use of the functionality in `Kentico.Kontent.Management.Modules.ModelBuilders.ElementModelProvider` to return all of the boxed e

[2022-04-28 11:40] gormal commented on #143
Done in #152

[2022-04-28 11:40] #143 closed

[2022-04-28 13:54] gormal commented on #172
Hi, thank you for submitting this issue!

Unfortunately, we need to know the type of the element (it can't be deduced from its shape as it is not unique) in order to create a strongly typed object. One way how we it can be done:

[code]

What do you think? Another option is to take `ContentTypeModel` as parameter...

[2022-05-02 08:29] Simply007 commented on #172
Yes, we can either do

`IManagementClient .GetStronglyTypedElements(LanguageVariantModel variant, ContentTypeModel type = null)` to provide a way to pass the type.

Or we can do

`IManagementClient .GetStronglyTypedElement(dynamic element, ElementMetadataType elementType)` which might be more flexible, because you might want to use [projection](https://kontent.ai/learn/reference/delivery-api/#tag/

[2022-05-04 08:15] mattnield commented on #172
So - being greedy - could we do both? 🫢

I can think of places where both would be really useful. In my case right now, it's the second case, but equally being able to do the first is really helpful.

[2022-05-17 08:26] AdamZ-Kontent opened #178 "Add support for Allowed link types"
### Motivation

Allowed link types in RichText element are soon to be added to Kontent, extending the RT model with a `allowed_item_link_types` property. This change should be reflected in the SDK
### Proposed solution

Add the new property into `RichTextElementMetadataModel`

[2022-05-26 07:32] #39 closed

[2022-06-02 06:45] #159 closed

[2022-06-02 06:49] #178 closed

[2022-06-02 06:49] #136 closed

[2022-06-07 13:08] #172 closed

[2022-06-13 08:30] robertstebel opened #181 "Support for defining the default values for content elements"
### Motivation

Add support for defining and reading content type's elements default values for the supported types - Text, Date, Number, Multiple choice and Taxonomy

[2022-06-16 07:56] gormal commented on #181
As elements are added one by one, we need to keep in mind, that when it is all done, code samples should be updated in docs repo.

- [ ] Code samples are updated in docs

[2022-06-22 04:17] twadevs opened #183 "Strongly typed language variants doesn't include values for Elements"
### What I'm trying to do:

Hi,

I'm trying to use the ` .GetLanguageVariantAsync<T>` method to retrieve strongly typed items. It seems to return the Item object (id, etc..) and last updated, etc.., but the Elements are all null.

Using the LanguageVariantModel without the strongly typed object works fine.

### Repro steps

1. Installed the latest Kentico Model Generator (v7.0.0)
2. Generated mode

[2022-06-30 06:32] #181 closed

[2022-06-30 06:42] Simply007 commented on #172
@mattnield  - it is out -> https://github.com/Kentico/kontent-management-sdk-net/releases/tag/3.0.4

Could you test it out?

[2022-07-12 15:31] huluvu21 opened #185 "Enable/disable actions for webhooks do not work"
### Brief bug description

From a brief look at the code, it's clear that the URLs for webhook enable/disable are not generated correctly.

### Screenshots

<img width="509" alt="image" src="https://user-images.githubusercontent.com/19777142/178528118-0fa66208-726e-4b01-9272-449c1d85cdd3.png">

[2022-07-14 08:27] gormal commented on #183
Hi!

This issue has gone quiet. 👻

It’s been a while since the last update here.
If we missed anything on this issue or if you want to keep it open, please reply here.

Thanks for being a part of the Kontent.ai community!

[2022-07-14 08:27] #183 closed

[2022-07-15 06:26] gormal commented on #183
Happy to hear that you were able to find a solution!

This info could be interesting for @Sevitas

[2022-07-21 10:54] Sevitas commented on #183
Hi,
we have made some improvements in the latest [version](https://github.com/Kentico/kontent-generators-net/releases/tag/7.0.0) of the Generators SDK,  renaming the parameter _--contentmanagementapi_ to _--managementapi_ was one of them. If you need to generate the Management models, you need to use the new parameter, otherwise the default value will be used and Delivery models will be generated.

[2022-07-22 01:15] twadevs commented on #183
Thanks @Sevitas , sounds good. I think an error message would be great.

[2022-07-27 14:50] mattnield opened #194 "`ListContentItemsAsync()` Does not paginate."
### Brief bug description

When trying to iterate though content items in the Management SDK, the `ListContentItemsAsync()` method only returns 100 items. There is no _obvious_ way to check or set the continuation header.

see. https://github.com/kontent-ai/management-sdk-net/blob/a94d1601fc2baa7aa43b5dcffc1bf835085bf01a/Kontent.Ai.Management/ManagementClient.ContentItem.cs#L12

### Repro steps

U

[2022-07-27 14:53] #194 closed

[2022-07-27 14:55] mattnield commented on #194
Yep, just fund `NextPage` and `HasNextPage`. 🫢

[2022-07-28 06:42] gormal commented on #194
Hi, glad you found a solution. Anyway, if you want all your items you can use `ListContentItemsAsync().GetAllAsync();`

[2022-07-28 08:03] mattnield commented on #194
Good to know! Thank you @gormal

[2022-08-04 15:31] Simply007 commented on #128
Done and announced: https://kontent.ai/learn/changelog/product-changelog/?breaking=true#a-deprecating-management-api-v1

[2022-08-04 15:31] #128 closed

[2022-08-11 12:34] Sevitas opened #197 "Custom headers"
### Motivation

Allow users to send custom headers in each request - or at least to add the option to include a tracking header.

This will help us to track the usage of the tools using the SDK - specifically the .NET model generator tool.

[2022-08-12 08:50] Simply007 commented on #197
Mind also this possibility in Delivery SDK .NET: https://github.com/kontent-ai/delivery-sdk-net/pull/237

[2022-08-12 08:50] Simply007 commented on #197
It might be one of the candidates for "Core" package unification.

[2022-08-22 10:31] Iorethan opened #201 "Support for default values in modular content and asset elements"
### Motivation

Add support for defining and reading content type's elements default values for the newly supported types - modular content and asset.

### Proposed solution

- Add `DefaultValue` property to all supported element models in `Kentico.Kontent.Management.Models.Types.Elements`
- Extend `GetElementMetadata()` tests

### Additional context

Should be merged after release of this functio

[2022-11-03 13:10] Sevitas opened #207 "SDK cannot be used in Self-Contained executable"
### Brief bug description

When sdk is used in self-contained single file app sending requests fails when attaching trace headers.

### Repro steps

1. Download any executable file from [model-generator-net](https://github.com/kontent-ai/model-generator-net/releases) or create your own running [script](https://github.com/kontent-ai/model-generator-net/blob/master/self-contained.ps1).
2. Run 'Konte